<a href="https://colab.research.google.com/github/vidyakc111/Applications-of-Python-Programming-in-DA-ML-/blob/master/Day_1_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 1 session 2 Examples programs

# Python Program to find the factorial of a number using loop.

In [3]:
n=int(input("Enter number:"))
fact=1

while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:4
Factorial of the number is:
24

#Python Program to reverse a number using loop

In [4]:
r=0
n=int(input("Enter a number: "))
while(n>0):
    dig=n%10
    r=r*10+dig
    n=n//10
print("The reversed no  is:")
print(r)

Enter a number: 1234
The reversed no  is:
4321

# Write a Python program to construct the following pattern, using a nested for loop.

In [5]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#Python Program to replace all occurrences of ‘a’ with ‘$’ in a string.

In [6]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:apple
Modified string:
$pple

#Python Program to remove the nth index character from a non-empty string

In [7]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:mango
Enter the index of the character to remove:4
Modified string:
mang

#Python Program to detect if two strings are anagrams

In [8]:
def check(s1, s2): 
    if(sorted(s1)== sorted(s2)): 
        print("The strings are anagrams.")  
    else: 
        print("The strings aren't anagrams.")            
s1 ="listen"
s2 ="silent" 
check(s1, s2)

The strings are anagrams.


#Python Program to form a string where the first character and the last character have been exchanged.

In [9]:
def change(string):
      return string[-1:] + string[1:-1] + string[:1]
string=input("Enter string:")
print("Modified string:")
print(change(string))

Enter string:apple
Modified string:
eppla

#Python Program to count number of vowels from a non-empty string.

In [10]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:apple
Number of vowels are:
2

#Program for Divide by zero error detection

In [11]:

flag = True

def div(a, b):  
       try:
            print("Finally the division of %d/%d is %f" % (a, b,a/b))
            global flag
            flag=False
       except ZeroDivisionError:
            print("Zero Division Error detected")
       else:
            print("Division is successful") 
       finally:
            if flag is True:
               print("Try again")     
            else:
               print("Thank you")
       
#global flag

while flag is True:
    div(int(input("Enter numerator")),int(input("Enter denominator")))

Enter numerator4
Enter denominator0
Zero Division Error detected
Try again
Enter numerator4
Enter denominator2
Finally the division of 4/2 is 2.000000
Division is successful
Thank you

#Program for ValueError error detection

In [13]:
while True:
     try:
         x = int(input("Please enter a number: "))
         print(" That was valid number. Thank you")
         break
     except ValueError:
         print("Oops!  That was no valid number.  Try again...")

Please enter a number: a
Oops!  That was no valid number.  Try again...
Please enter a number: 4
 That was valid number. Thank you

# 1 Write a program to print the triangle

In [1]:
n=int(input("Enter the number of rows"))
for i in range(1,n+1):
  for j in range(i):
    print(i,end=" ")
    i+=1
  print()

Enter the number of rows4
1
2 3
3 4 5
4 5 6 7

# 2

In [2]:
n=int(input("Enter the number of rows"))
for i in range(1,n+1):
  for j in range(i):
    print("*",end=" ")
  print()

Enter the number of rows4
*
* *
* * *
* * * *

#3

In [14]:
n=int(input("Enter number:"));
for i in range(n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

#4

In [15]:
n=int(input("Enter the number of rows"))
for i in range(5,0,-1):
  for j in range(i):
    print(i,end=" ")
    i-=1
  print()

Enter the number of rows5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#5

In [16]:
n=int(input("Enter number:"));
for i in range(n):
    for j in range(i+1,n+1,1):
        print(j, end=" ")
    print('')
for i in range(2,n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:4
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

#Find the length of a string without using len functions

In [17]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: hello
Length of the input string is: 5

#Find the no of occurrences of a word in a string

In [18]:
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("The count is:", count)

The count is: 2