<a href="https://colab.research.google.com/github/vidyakc111/Applications-of-Python-Programming-in-DA-ML-/blob/master/Day_2_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Removes all elements of dictionary dict

In [1]:
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

#Returns a list of dict's (key, value) tuple pairs

In [2]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

#Returns a copy of dictionary dict

In [3]:
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

#Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).

In [4]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#Python Program to Sum All the Items in a Dictionary

In [5]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

#Python Program to Remove the Given Key from a Dictionary

In [6]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):b
Updated dictionary
{'a': 1, 'c': 3, 'd': 4}

#Python Program to add name and mark as key->value pair in  a Dictionary and print it.

In [7]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records2
Enter name 1ABC
Enter mark 150
{'ABC': 50}
Enter name 2XYZ
Enter mark 245
{'ABC': 50, 'XYZ': 45}

# Keys and Values example

In [8]:
    d={}
    print (" The dictionary elements are")
    for i in range(1,21):
        d[i]=i**2
    print (d)
    # To print key and values
    print (" Key==> Value are")
    for (k,v) in d.items():	
        print(k,"==>",v)
  # To print key only
    print ("\nTo print key only")
    for k in d.keys():	
        print(k, end=" ")
  #To print value only
    print ("\nTo print values only")
    for v in d.values():	
        print(v, end=" ")

 The dictionary elements are
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

#Python program to convert 2 digit number   into words

In [9]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:45
fourty five

#How to sort a dictionary by values in Python

In [13]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(),key=operator.itemgetter(1))
print(sorted_d)
sorted_a = sorted(d.items(),key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

#Exercises

#1.Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [30]:
n=int(input("Enter the number of students: "))
d={}
for i in range(n):
  name=input("Enter the name of the student ")
  d[name]=int(input("Enter the marks of the student "))
import operator  
sort_d=sorted(d.items(),key=operator.itemgetter(1),reverse=True) 
print(sort_d)

Enter the number of students: 3
Enter the name of the student XYZ
Enter the marks of the student 50
Enter the name of the student ABC
Enter the marks of the student 46
Enter the name of the student PQR
Enter the marks of the student 42
[('XYZ', 50), ('ABC', 46), ('PQR', 42)]

#2.Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [19]:
n=int(input("Enter the number of employees: "))
d={}
for i in range(n):
  name=input("Enter the name of the employee")
  d[name]=int(input("Enter the salary of the employee"))
import operator  
sort_d=sorted(d.items(),key=operator.itemgetter(1)) 
print(sort_d)

Enter the number of employees: 2
Enter the name of the employeeLMN
Enter the salary of the employee20000
Enter the name of the employeePQR
Enter the salary of the employee25000
[('LMN', 20000), ('PQR', 25000)]

#3.Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [34]:
n=int(input("Enter the number of employees: "))
d={}
for i in range(n):
  name=input("Enter the name of the employee ")
  d[name]=int(input("Enter the salary of the employee "))
import operator  
sort_d=sorted(d.items(),key=operator.itemgetter(1)) 
print(sort_d)
print("Sum of the salary: ",sum(d.values()))
print("Max of the salary: ",max(d.values()))
print("Min of the salary: ",min(d.values()))
print("Average of the salary: ",(sum(d.values())/n))

Enter the number of employees: 2
Enter the name of the employee ABC
Enter the salary of the employee 25000
Enter the name of the employee XYZ
Enter the salary of the employee 20000
[('XYZ', 20000), ('ABC', 25000)]
Sum of the salary:  45000
Max of the salary:  25000
Min of the salary:  20000
Average of the salary:  22500.0

#4.Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [44]:
n=int(input("Enter the number of employees: "))
d={}
for i in range(n):
  name=input("Enter the name of the employee")
  d[name]=int(input("Enter the salary of the employee"))
for k,v in d.items():  
  if(v>2000 and v<40000):
    print(k,"->",v)

Enter the number of employees: 4
Enter the name of the employeeABC
Enter the salary of the employee20000
Enter the name of the employeeXYZ
Enter the salary of the employee25000
Enter the name of the employeePQR
Enter the salary of the employee42000
Enter the name of the employeeLMN
Enter the salary of the employee26000
ABC -> 20000
XYZ -> 25000
LMN -> 26000

#5.Python program to convert a 3 digit number  into words

In [63]:
def convert_to_words(num):  
    l = len(num);    
    if (l == 0): 
        print("empty string"); 
        return; 
  
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if (l == 1):  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while (x < len(num)):    
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48],  
                                           end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if (ord(num[x]) - 48 == 1):  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;   
            elif (ord(num[x]) - 48 == 2 and 
                  ord(num[x + 1]) - 48 == 0): 
                print("twenty"); 
                return;  
            else: 
                i = ord(num[x]) - 48; 
                if(i > 0): 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("498"); 
convert_to_words("540"); 
convert_to_words("25");

498 : four hundred ninety eight
540 : five hundred forty 25 : twenty five

#Files Examples

#Python Program to count the number of lines in a text file.

In [52]:
fname = input("Enter file name: ")
num_lines = 0
with open(fname, 'r') as f:
    for line in f:
        num_lines += 1
print("Number of lines:")
print(num_lines)

Enter file name: /content/pythonExample.txt
Number of lines:
2

#Python Program to count the number of words in a text file.

In [53]:
fname = input("Enter file name: ")
num_words = 0
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        num_words += len(words)
print("Number of words:")
print(num_words)

Enter file name: /content/pythonExample.txt
Number of words:
14

#Python Program to count the occurrences of a word in a text file.

In [59]:
fname = input("Enter file name: ")
word=input("Enter word to be searched:")
k = 0

with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            if(i==word):
                k=k+1
print("Occurrences of the word:")
print(k)

Enter file name: pythonExample.txt
Enter word to be searched:world
Occurrences of the word:
1

#Python Program to copy the contents of one file into another.

In [0]:
with open("pythonExample.txt") as f:
    with open("out.txt", "w") as f1:
        for line in f:
            f1.write(line)

#Python Program to read the contents of the file in reverse order.

In [62]:
 filename=input("Enter file name: ")
    
with open (filename,'r') as f:
    for line in f:
        l=line.split()
        l.reverse() 
        st= " ".join(l)
        print (st)

Enter file name: pythonExample.txt
world 1.Hello
file. text a in words of number the count to Program 2.Python

#Files Exercises

#Python Program to count the total number of charaters (except blank space) in a text file.

In [64]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i != " " and i != "\n" ):
		 charc += 1
 
print ("total num of characters: ",charc);

Enter File name : pythonExample.txt
total num of characters:  62

#Python Program to print all the numbers present in a text file with its total number of occurrence.

In [67]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()	
w = []	
d = {} 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

Enter File name : pythonExample.txt
1 : 1
2 : 1

#Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [68]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: pythonExample.txt
Enter file to be appended to: out.txt

#Python Program to count the number of blank spaces in a text file.

In [69]:
fname = input("Enter file name: ")
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

Enter file name: pythonExample.txt
Occurrences of blank spaces:
62

#Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [70]:
fname = input("Enter file name: ")
with open(fname, 'r') as f:
  with open("out.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("out.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

Enter file name: pythonExample.txt
1.Hello World

2.Python Program To Count The Number Of Words In A Text File.